@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins;
    color: #212529;
  }
  h1 {
    font-size: 3.625rem;
    line-height: 4.875rem;
    font-weight: 700;
  }
  h2 {
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: 600;
  }

  h3 {
    font-size: 2rem;
    line-height: 2.625rem;
    font-weight: 600;
  }
  h4 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
  }
  span {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
  }
  p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
  }

  .border-1 {
    border-width: 1px;
  }
}